.header {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 10px 100px;
  margin-bottom: 20px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}
.navtittle {
  color: var(--text-color);
}
.navlist {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style-type: none;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}
.links {
  text-decoration: none;
  color: white;
}
.submitbutton {
  padding: 5px 10px;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
